/* ======================================================================== */
/* ! Font
/* ======================================================================== */
@font-face {
    font-family: 'P22 Corinthia';
    src: url('../font/p22-corinthia.eot');
    src: url('../font/p22-corinthiad41d.eot?#iefix') format('embedded-opentype'),
         url('../font/p22-corinthia.html') format('woff2'),
         url('../font/p22-corinthia.woff') format('woff'),
         url('../font/p22-corinthia.ttf') format('truetype'),
         url('../font/p22-corinthia.svg#p22_corinthiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src:  url('../font/fontawesome-webfont78ce.eot?v=4.2.0');
  src:  url('../font/fontawesome-webfontd41d.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
        url('../font/fontawesome-webfont78ce.woff?v=4.2.0') format('woff'), 
        url('../font/fontawesome-webfont78ce.ttf?v=4.2.0') format('truetype'), 
        url('../font/fontawesome-webfont78ce.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'code_lightregular';
    src: url('../font/code_light-webfont.eot');
    src: url('../font/code_light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../font/code_light-webfont.html') format('woff2'),
         url('../font/code_light-webfont.woff') format('woff'),
         url('../font/code_light-webfont.ttf') format('truetype'),
         url('../font/code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "outlined-iconset";
  src:url("../font/outlined-iconset.html");
  src:url("../font/outlined-iconsetd41d.html?#iefix") format("embedded-opentype"),
    url("../font/outlined-iconset-2.html") format("woff"),
    url("../font/outlined-iconset-3.html") format("truetype"),
    url("../font/outlined-iconset-4.html#outlined-iconset") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'eightyshades';
  src:url('../font/eightyshades.html');
  src:url('../font/eightyshadesd41d.html?#iefix') format('embedded-opentype'),
    url('../font/eightyshades-2.html') format('woff'),
    url('../font/eightyshades-3.html') format('truetype'),
    url('../font/eightyshades-4.html#eightyshades') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'laurencb';
    src: url('../font/laurencb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoui';
    src: url('../font/segoui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoui_bold';
    src: url('../font/SEGOEUIB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}