/**  
  * Section
  * Title Box
  * Restro
  * Teams
  * Preloader
  * Event
*/

/* Section
-------------------------------------------------------------- */
section {
  background-color: #fff;
}

.section {
   clear: both;
   display: block;
   position: relative;
   padding: 95px 0;
}

.section .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   z-index: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   filter: alpha(opacity=90);
   opacity: 0.9;
}

.section .mask {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   z-index: 10;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
   filter: alpha(opacity=10);
   opacity: 0.1;
   background: url('../images/bg-dark.html') repeat;
   z-index: 0;
}

.section .content-section {
   position: relative;
   z-index: 30;
}

/* Title Box
-------------------------------------------------------------- */
.titlebox .sub-title,
.spacing {
  width: 100%;
}

.titlebox {
  text-align: center;
}

.titlebox .title{
  color: #a06953;
  text-transform: uppercase;
}

.titlebox .title h4{
  font-size: 18px;
  letter-spacing: 1px;
  color: #a06953;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  font-weight: 300;
}

.titlebox .sub-title {
  text-transform: uppercase;
}

.titlebox .sub-title h2{
  font-size: 50px;
  letter-spacing: 1.5px;
  color: #D31D4f;
  text-shadow: 0 0 5px rgba(1,1,1, 0.1);
  margin: 0;
  padding: 0; 
  margin-bottom: 21px;
  font-weight: 400;
}

.spacing.space-dark {
  background: url("../images/icons/line.png") center center no-repeat;
  width: 100%;
  height: 16px;
  margin: 0 auto;
  margin-bottom: 19px;
  position: relative;
}

.spacing.space-dark:before {
  position: absolute;
  top: -4px;
  left: 50%;
  content: "";
  margin-left: -12px;
  background: url('../images/icons/fork.png');
  width: 24px;
  height: 24px;
}

.spacing.space-light:before {
  position: absolute;
  top: -4px;
  left: 50%;
  content: "";
  margin-left: -12px;
  background: url('../images/icons/fork_l.png');
  width: 24px;
  height: 24px;
}

.spacing.space-light {
  background: url("../images/icons/line_l.png") center center no-repeat;
  width: 100%;
  height: 16px;
  margin: 0 auto;
  margin-bottom: 19px;
  position: relative;
}

.spacing.space-light:before {
  color: #fff;
}

.titlebox .content {
  margin: 0 auto;
  line-height: 31px;
}

/* Restro 
-------------------------------------------------------------- */
.w50 {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  position: relative;
}

.w50 .dark {
  display: inline-block;
  text-align: center;
  float: left;
}

.w50.h50 {
  width: 100%;
  height: auto;
  background-color: #7e7a86;
  position: relative;
}

.w50:hover {
  cursor: pointer;
}

.w50 img {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 0;
}

.w50:hover img {
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.w50:hover .res-top .res-icon:before {
  background-position-x: 0px;
  background-position-y: 0px;
}

.w50:hover .res-top .res-icon.ico-chicken:before {
  background: url('../images/icons/chickenp.png');
}

.w50:hover .res-top .res-icon.ico-sushi:before {
  background: url('../images/icons/sushi.png');
}

.w50:hover .res-top .res-icon.ico-dessert:before {
  background: url('../images/icons/dessert.png');
}

.w50:hover .res-top .res-icon.ico-wine:before {
  background: url('../images/icons/wine.png');
}

.w50:hover .res-top .res-icon.ico-dish:before {
  background: url('../images/icons/dish.png');
}

.w50:hover .res-top .res-icon.ico-coffee:before {
  background: url('../images/icons/coffee.png');
}

.w50 .light-right:before {
  position: absolute;
  top: 50%;
  left: 0;
  border:17px solid transparent;
    border-right:17px solid #fffbe5;
  content: "";
  margin-left: -33px;
  margin-top: -15px;
}

.w50 .light-left:before {
  position: absolute;
  top: 50%;
  right: -34px;
  border:17px solid transparent;
    border-left:17px solid #fffbe5;
  content: "";
  margin-top: -15px;
  z-index: 1;
}

.w50 .dark,
.w50 .light-right,
.w50 .light-left {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.w50 .dark {
  overflow: hidden;
}

.w50 .light-right {
  float: right;
  position: relative;
}

.post-item .w50.h50 {
  background-color: #f8f8f8;
  display: table;
}

.w50.h50 .light-left:before {
  border: 17px solid transparent;
  border-left: 17px solid #f8f8f8;
}

.w50.h50 .light-right:before {
  border: 17px solid transparent;
  border-right: 17px solid #f8f8f8;
}

.w50.h50 .res-content p {
  color: #634943;
}

.w50 .light-left {
  float: left;
  position: relative;
}

.w50 .res-top {
  position: relative;
  width: 100%;
}

.w50 .res-top .res-icon {
  width: 100%;
  margin: 40px 0 16px 0;
  height: 32px;
}

.w50 .res-top .res-icon.ico-chicken:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/chickenp.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon.ico-sushi:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/sushi.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon.ico-wine:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/wine.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon.ico-dish:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/dish.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon.ico-coffee:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/coffee.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon.ico-dessert:before {
  width: 32px;
  height: 32px;
  background: url('../images/icons/dessert.png') 0 -32px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.w50 .res-top .res-icon:before {
  font-size: 32px;
  margin-left: -16px;
  left: 50%;
  position: absolute;
}

.w50 .res-top p {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #a06953;
}

.w50 p.res-end {
  margin-top: 10px;
  color: #a06953 !important;
  font-size: 14px !important;
  font-weight: 700;
}

.w50 .res-top.res-dark,
.w50 .res-top.res-light {
  margin-bottom: 29px;
}

.res-top.res-dark:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background: url("../images/res-dark.png");
  width: 51.91px;
  height: 0.97px;
  margin-left: -25.955px;
  margin-top: 12px;
}

.res-top.res-light:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background: url("../images/res-light.png");
  width: 51.91px;
  height: 0.97px;
  margin-left: -25.955px;
  margin-top: 13px;
}

.res-light img {
  margin-top: 34px;
}

.res-price {
  color: #151515;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  padding: 18px 0;
}

.res-content {
  width: 100%;
}

.res-price span {
  width: 100%;
  float: left;
  line-height: 32px;
}

.res-content p {
  color: #29201f;
  font-size: 16px;
  line-height: 21px;
}

.res-content p.text-space {
  color: #995037;
}

/* Teams
-------------------------------------------------------------- */
.chefs-detail,
.chefs-detail .chefs-top,
.chefs-detail .chefs-bottom {
    float: left;
    width: 100%;
    position: relative;
}

.chefs-top {
    overflow: hidden;
    border: 1px solid #bfab9e;
}

.chefs-detail .chefs-img {
    text-align: center;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.chefs-detail {
    cursor: pointer;
    padding-bottom: 5px;
}

.chefs-detail .chefs-img img {
    width: 100%;
    height: auto;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.chefs-detail:hover .chefs-img img {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pruducts-content {
    color: #000;
    text-align: center;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    width: 100%;
    z-index: 9999;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pruducts-content span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    float: left;
    margin-top: 23px;
    margin-bottom: 16px;
    letter-spacing: 1.1px;
}

.chefs-social {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 43px 10px;
    width: auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    border-top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translate3d(0,0,0) translate3d(0,-10%,0);
    transform: translate3d(0,0,0) translate3d(0,-10%,0);
}

.chefs-detail:hover .chefs-bottom .chefs-social {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    border-color: #bfab9e;
    -webkit-transform: translate3d(0,0,0) translate3d(0,0%,0);
    transform: translate3d(0,0,0) translate3d(0,0%,0);  
}

.chefs-social a {
    color: #29201f;
    position: relative;
    width: 59px;
    font-size: 20px;
    margin-right: -3px;
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.chefs-social a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 1px;
    height: 25px;
    background-color: #29201f;
}

.chefs-social a:first-child:before {
    width: 0;
}

.chefs-social a:first-child {
    border-left: none;
    margin-left: -8px;
}

.chefs-top .pruducts-content {
    top: 85px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    text-align: center;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.chefs-detail .chefs-img .overlay-color {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.chefs-detail:hover .chefs-img .overlay-color {
  background-color: #a06953;
}

.chefs-detail:hover .chefs-top {
    overflow: hidden;
}

.chefs-detail:hover .chefs-top .pruducts-content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 29%;
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.chefs-detail:hover .chefs-bottom .pruducts-content {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 0;
    -webkit-transform: translate3d(0,0,0) translate3d(0,0,0);
    transform: translate3d(0,0,0) translate3d(0,0,0);
}

.chefs-social a:hover {
    color: #a06953;
    font-size: 21px;
}

.chefs-detail:hover .pruducts-content span {
    color: #fff;
}

/* Preloader
-------------------------------------------------------------- */
.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  z-index: 100000;  
}

.block-loader {
  background-color:#be8f60;
  float:left;
  height:24px;
  margin-left:7px;
  width:24px;
  opacity:0.1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-animation-name:bounceG;
  -moz-animation-duration:1.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-transform:scale(0.7);
  -webkit-animation-name:bounceG;
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(0.7);
  -ms-animation-name:bounceG;
  -ms-animation-duration:1.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-transform:scale(0.7);
  -o-animation-name:bounceG;
  -o-animation-duration:1.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(0.7);
  animation-name:bounceG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(0.7);
}

.loader1{
  margin-left: -30px;
  -moz-animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
  -ms-animation-delay:0.5s;
  -o-animation-delay:0.5s;
  animation-delay:0.5s;
}

.loader2{
  margin-left: 0px;
  -moz-animation-delay:08s;
  -webkit-animation-delay:.8s;
  -ms-animation-delay:.8s;
  -o-animation-delay:.8s;
  animation-delay:.8s;
}

.loader3 {
  margin-left: 30px;
  -moz-animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay:1.3s;
}

@-moz-keyframes bounceG{
  0% {
  -moz-transform:scale(1.2);
  opacity:1
  }

  100%{
    -moz-transform:scale(0.7);
    opacity:0.1
  }
}

@-webkit-keyframes bounceG{
  0% {
    -webkit-transform:scale(1.2);
    opacity:1
  }

  100% {
    -webkit-transform:scale(0.7);
    opacity:0.1
  }
}

@-ms-keyframes bounceG{
  0% {
    -ms-transform:scale(1.2);
    opacity:1
  }

  100% {
    -ms-transform:scale(0.7);
    opacity:0.1
  }
}

@-o-keyframes bounceG{
  0% {
    -o-transform:scale(1.2);
    opacity:1
  }

  100%{
    -o-transform:scale(0.7);
    opacity:0.1
  }
}

@keyframes bounceG{
  0% {
    transform:scale(1.2);
    opacity:1
  }

  100% {
    transform:scale(0.7);
    opacity:0.1
  }
}

/* Event
-------------------------------------------------------------- */
@-webkit-keyframes toRightFromLeftAround {
  49% {
    -webkit-transform: rotate(0deg) translate(100%) rotate(360deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: rotate(0deg) translate(-100%) rotate(360deg);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes toRightFromLeftAround {
  49% {
    -moz-transform: rotate(0deg) translate(100%) rotate(360deg);
  }
  50% {
    opacity: 0;
    -moz-transform: rotate(0deg) translate(-100%) rotate(360deg);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeftAround {
  49% {
    transform: rotate(0deg) translate(100%) rotate(360deg);
  }
  50% {
    opacity: 0;
    transform: rotate(0deg) translate(-100%) rotate(360deg);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleIcon {
  0% {
    font-size: 32px;
  }
  100% {
    font-size: 35px;
  }
}

@-moz-keyframes scaleIcon {
  0% {
    font-size: 32px;
  }
  100% {
    font-size: 35px;
  }
}

@keyframes scaleIcon {
  0% {
    font-size: 32px;
  }
  100% {
    font-size: 35px;
  }
}
